html,
body {
  overflow-x: hidden;
}

.hero .chevron {
  position: absolute;
  top: -20%;
  right: -1%;
  z-index: -1;
  height: auto;
  opacity: 0.3;
}


.adv-button {
    --adv-btn-bg-start: var(--adv-glow-color);
    --adv-btn-bg-end: var(--adv-strong-glow-color);
    --adv-btn-text-color: #f0f0f0;
    --adv-glow-color: #8a2be2b3;
    --adv-strong-glow-color: #4a00e080;
    --adv-shadow-color-light: #0000004d;
    --adv-shadow-color-dark: #00000080;
    --adv-shine-color: #ffffffb3;
    --adv-glitch-color-1: #0ff;
    --adv-glitch-color-2: #f0f;
    --adv-glitch-color-3: #ff0;
    --adv-border-color-focus: #0ff;
    --adv-transition-base: .25s;
    --adv-transition-bounce: cubic-bezier(.175,.885,.32,1.275);
    --adv-transition-glitch: .4s;
    background: linear-gradient(60deg, var(--adv-btn-bg-start), var(--adv-btn-bg-end));
    /* color: var(--adv-btn-text-color); */
    text-transform: uppercase;
    letter-spacing: .07em;
    cursor: pointer;
    z-index: 1;
    backface-visibility: hidden;
    box-shadow: 0em .1em .3em var(--adv-shadow-color-light), 0em .4em .8em var(--adv-shadow-color-dark), inset 0px 1px 1px #ffffff26;
    transition: transform var(--adv-transition-base) var(--adv-transition-bounce), box-shadow var(--adv-transition-base) ease-out, background-position 1s ease;
    background-position: 50%;
    background-size: 200% 200%;
    border: none;
    border-radius: .4em;
    outline: none;
    padding: 1em 2.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.adv-button-text {
  position: relative;
  z-index: 10;
  display: block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.adv-button:hover {
    box-shadow: 0em .15em .2em var(--adv-shadow-color-light), 0em .1em .25em var(--adv-shadow-color-dark), inset 0px 1px 1px #ffffff26, 0 0 1.5em var(--adv-btn-bg-end), 0 0 3em var(--adv-shadow-color-dark);
    animation: 3s linear infinite bg-pan;
}

.adv-button:hover::before {
  background-position: -80% 0;
}

.adv-button:active {
  transform: scale(0.95, 0.92);
  box-shadow:
    0em 0.1em 0.2em var(--adv-shadow-color-light),
    0em 0.2em 0.4em var(--adv-shadow-color-dark),
    inset 0px 1px 1px rgba(255, 255, 255, 0.1),
    0 0 1em var(--adv-glow-color),
    0 0 2em var(--adv-strong-glow-color);
  animation: none;
}

.adv-button:focus-visible {
  box-shadow:
    0em 0.25em 0.5em var(--adv-shadow-color-light),
    0em 0.5em 1.25em var(--adv-shadow-color-dark),
    inset 0px 1px 1px rgba(255, 255, 255, 0.15),
    0 0 1.5em var(--adv-glow-color),
    0 0 0 0.15em rgba(var(--adv-border-color-focus), 0.7);
}


@keyframes bg-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
