@reference "tailwindcss";


.dark ::-webkit-scrollbar{
  height: 7px;
  width: 7px;
  background: #747474;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:horizontal{
  background: rgb(34, 34, 34);
  border-radius: 4px;
}

.dark {
  scrollbar-color: #747474 rgb(34, 34, 34);
  scrollbar-width: thin;
}

html {
  scroll-padding-top: 70px;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-wrap: break-word;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

body:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

h1, h2, h3, h4, h5, h6, .font-headings {
  font-family: 'DM Sans', sans-serif;
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-primary:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-secondary{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-secondary:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-tertiary{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-tertiary:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-emphasis{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-emphasis:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

:not(.dark) .fa-moon {
  display: block;
}

:not(.dark) .fa-sun {
  display: none;
}

.dark .fa-sun {
  display: block;
}

.dark .fa-moon {
  display: none;
}

.fa-sun {
  display: none;
}

.highlight-icon{
  margin-bottom: 1.5rem;
  display: inline-flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  padding: 0.75rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: oklch(0.7 0.21 42.16);
  background-color: var(--color-stone-800);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

 


.highlight-description{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

article{
  line-height: 1.75rem;
}

article > * + *{
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

article li + li{
  margin-top: 0.25rem;
}

article li > p + p{
  margin-top: 1.5rem;
}

article strong{
  font-weight: 600;
}

article a{
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

article strong a{
  font-weight: 700;
}

article h1{
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
}

article h1:is(.dark *){
  border-color: rgb(209 213 219 / 0.1);
}

article > h1:first-of-type{
  margin-top: 0px;
}

article h2{
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  line-height: 1.25;
}

article h2:is(.dark *){
  border-color: rgb(209 213 219 / 0.1);
}

article h3{
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  line-height: 1.375;
}

article h4{
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

article h5{
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

article h5:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

article h6{
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

article h6:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

article blockquote{
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

article blockquote:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

article code {
  padding: 2px 4px;
  display: inline;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

article code:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

article pre,
article pre.hljs{
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  padding: 1rem;
}

article pre code{
  display: block;
  overflow: visible;
  border-radius: 0px;
  background-color: transparent;
  padding: 0px;
}

article ul{
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

article ol{
  list-style-type: decimal;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

article kbd{
  display: inline-block;
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 0.25rem;
  vertical-align: middle;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

article table{
  border-collapse: separate;
  --tw-border-spacing-x: 0px;
  --tw-border-spacing-y: 0px;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  font-size: 1rem;
  line-height: 1.5rem;
}

article table tr th,
article table tr td{
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: top;
}

article table tr th:is(.dark *),
article table tr td:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity, 1));
}

article table tr th:first-child,
article table tr td:first-child{
  border-left-width: 1px;
}

article table tr th{
  border-top-width: 1px;
}

article table tr:first-child th:first-child {
  border-top-left-radius: 0.5em;
}

article table tr:first-child th:last-child {
  border-top-right-radius: 0.5em;
}

article table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5em;
}

article table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5em;
}

article .header-anchor {
  position: absolute;
  left: -1em;
  opacity: 0;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

article .header-anchor:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

article h1,
article h2,
article h3 {
  position: relative;
}

article h1:hover > .header-anchor,
article h2:hover > .header-anchor,
article h3:hover > .header-anchor,
.header-anchor:focus
{
  opacity: 1;
}

#menu-toggle[aria-expanded=false] > .fa-bars {
  display: inline;
}

#menu-toggle[aria-expanded=false] > .fa-times {
  display: none;
}

#menu-toggle[aria-expanded=true] > .fa-times {
  display: inline;
}

#menu-toggle[aria-expanded=true] > .fa-bars {
  display: none;
}

.sidebar{
  flex-shrink: 0;
  font-family: 'DM Sans', sans-serif;
}

@media (min-width: 768px){

  .sidebar{
    margin-top: 0.75rem;
  }
}



#menu {
  width: 95%;
  max-width: 15rem;
  z-index: 1;
  padding-left: 1rem;
  margin-right: 1rem
}

@media (max-width: 768px) {
  #menu .md\:sticky {
    height: calc(100% - 5rem);
    margin-top: 5rem;
  }

  #menu .scroll-wrapper {
    height: 100%;
  }

  #menu.open {
  transform: translate(100%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1); 
  box-shadow: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px, rgb(0 0 0) 0px 25px 50px -12px;
  }

}

.sidebar .sticky {
  top: 100px;
}

@media (min-width: 768px) {
  .sidebar .md\:sticky {
    top: 100px;
  }
}

.sidebar .scroll-wrapper {
  height: calc(100vh - 7.5rem);
  overflow-y: auto;
}

.bg-blur {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dark .bg-blur {
  background: rgba(0, 0, 0, 0.2);
}

.main {

  max-width: 90rem;
}

@media (min-width: 768px){

  .main{
    margin-left: auto;
    margin-right: auto;
  }
}

.h-fill {
  height: calc(100vh - 14em);
}

.max-w-xxs {
  max-width: 14rem;
}
